/* css for view flights */

body{
    margin: 0;
    padding: 0;
    background: url('img/zbg3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
content: "";
background-color: rgb(137 60 60);
position: absolute;
top:0px;
left:0px;
height: 100%;
width:100%;
z-index: -1;
/* opacity: 0.4; */
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 1px 35px;
}

#logo img{
    height: 45px;
    margin: 3px 6px;
    border: 2px solid rgb(137 60 60);
    border-radius: 19px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
h2{
    /* border: 2px solid red; */
    color: antiquewhite;
    width: 30%;
    margin: 18px auto;
    font-weight: bold;
    font-style: italic;
}

/* css for lower part */

.container{
    background-color: white;
    border: 2px solid rgb(23, 22, 22);
    border-radius: 9px;
}
