body {
	/* background: url('zpexels-pixabay-62623.jpg');
	background-size: cover; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	height: 600px ;
	border: 2px solid rgb(23, 22, 22);
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	color: aliceblue;
	
}

h2 {
	text-align: center;
	/* margin-bottom: 40px; */
}

input {
	display: block;
	border: 2px solid rgb(78, 75, 75);
	width: 95%;
	height: 50px;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
	color: black;
}
label {
	color: rgb(255, 252, 252);
	font-weight: bold;
	font-size: 21px;
	padding: 10px;
}

button {
	background: white;
	padding: 10px 15px;
	color:black;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	width: 40%;
	float: right;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}
a{
	background: rgb(254, 251, 251);
	padding: 10px 15px;
	margin-right: 5px;
	color: rgb(4, 4, 4);
	border-radius: 5px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}
body{
	background: url('img/zpexels-pixabay-62623.jpg');
	background-size: cover;
}
