body{
    margin: 0;
    padding: 0;
    background: url('img/zbg3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
content: "";
background-color: rgb(137 60 60);
position: absolute;
top:0px;
left:0px;
height: 100%;
width:100%;
z-index: -1;
/* opacity: 0.4; */
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 1px 35px;
}

#logo img{
    height: 45px;
    margin: 3px 6px;
    border: 2px solid rgb(137 60 60);
    border-radius: 19px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
.a1{
    /* border: 2px solid red; */
    color: rgb(249, 249, 248);
    width: 43%;
    margin: 5px auto;
    padding: 4px;
    /* font-weight: bold; */
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.form{
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 5px auto;
    padding: 15px;
    width: 460px;
    height: 490px;
    background: rgba(0,0,0,0.55);
    font-size: 20px;
    color: white;
}
.form input{
    width: 98%;
    height: 40px;
    border-radius: 6px;
    border: 2px solid black;
    font-size: 15px;
}
.form .submitform1{
    width: 40%;
    float: right;
    border-radius: 8px;
    
}

/* css for background of table */
.table{
    background-color: aliceblue;
    border-radius: 8px;
}

/* css for contact.php lower part */
.lowerpart{
    background-color: rgb(45, 42, 42);
    height: 150px;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 15px;
 }