body{
    margin: 0;
    padding: 0;
    background: url('img/zbg3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
content: "";
background-color: rgb(137 60 60);
position: absolute;
top:0px;
left:0px;
height: 100%;
width:100%;
z-index: -1;
/* opacity: 0.4; */
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 1px 35px;
}

#logo img{
    height: 45px;
    margin: 3px 6px;
    border: 2px solid rgb(137 60 60);
    border-radius: 19px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    /* font-family: 'Baloo Bhai', cursive; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
.a1{
    /* border: 2px solid red; */
    color: rgb(249, 249, 248);
    width: 48%;
    margin: 25px auto;
    padding: 4px;
    /* font-weight: bold; */
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.5);
}

/* for forms and wishes */
.all{
    width: 1400px;
    height: 500px;
    display: flex;
    /* border: 2px solid red; */
    margin: auto;
}
.form{
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 5px;
    padding: 25px;
    width: 450px;
    background: rgba(0,0,0,0.55);
    font-size: 20px;
    color: white;
}
.sometext{
    /* border: 2px solid black; */
    margin: 5px;
    padding: 5px;
    width: 950px;
    background-color: #edeeee;
    border-radius: 10px;
}
.form input{
    width: 98%;
    height: 40px;
    border-radius: 6px;
    border: 2px solid black;
}
.form1 .submitform1{
    width: 40%;
    float: right;
}
.sometext_1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(137 60 60);
}
.sometext_2{
    text-align: center;
    font-size: 150px;
    font-weight: bolder;
    color: rgb(137 60 60);
    /* height: 150px; */
    /* padding: 0px; */
}
.sometext_3{
    color: white;
    background-color: rgb(137 60 60);
    width: 80%;
    text-align: center;
    margin: auto;
    font-size:20px;
    padding: 8px;
}
.sometext_4{
    text-align: justify center;
    margin: 11px 20px;
    font-size: 18px;
}


/* for deals section */
.deals{
    /* border: 2px solid black; */
    /* background-color: aliceblue; */
    /* border-radius: 6px; */
    width: 1250px;
    margin: auto;
    padding:5px;
}
.alldeals{
    box-sizing: border-box;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    position: relative;
}
.deal1, .deal2, .deal3{
    border: 2px solid rgb(175 26 26);
    border-radius: 10px;
    width: 415px;
    margin: 5px;
    padding: 1px 10px;
    font-size: 18px;
    background-color: aliceblue;
}
.aa2{
    padding: 1px;
    font-family: cursive;
    color: rgb(94, 9, 9);
    font-size: 25px;
    font-weight: bold;
}
.deal1_2_b{
    color: rgb(175 26 26);
    font-weight: bolder;
    font-size: 30px;
}

/* css for adds on */

 /* css for cargos and charter */
 .cargo{
    /* border: 2px solid red; */
    padding: 7px;
    background-color: rgba(0, 0,0,0.2);
 }
 .cargo1{
    display: flex;
    flex-direction: row;
    width: 1350px;
    margin: auto;
    /* border: 2px solid black; */
    padding: 5px;
 }
 .cargo_1{
    display: flex;
    flex-direction: row;
    /* border: 2px solid rgb(74, 8, 8); */
    border-radius: 10px;
    width: 650px;
    margin: auto;
    background-color: aliceblue;
 }
 .cargo_2{
    display: flex;
    flex-direction: row;
    /* border: 2px solid rgb(74,8,8); */
    border-radius: 10px;
    width: 650px;
    margin: auto;
    background-color: aliceblue;
 }
 .cargo_1b{
    padding: 5px;
 }
 .cargo_2b{
    padding: 5px;
 }
 .cargo_1b_a{
    font-size: 27px;
    color: rgb(175 26 26);
    font-weight: bold;
    margin-bottom: 5px;
 }
 .cargo_1b_b{
    font-size: 21px;
    margin-bottom: 10px;

 }
 .button_1{
    width: 150px;
    height: 37px;
    margin-left: 90px;
    background-color: rgb(192, 87, 87);
    font-size: 18px;
    color: white;
    border: 2px solid aliceblue;
    border-radius: 6px;
    cursor: pointer;
 }
 .button_1 .button_1_1{
    text-decoration: none;
    color: white;
 }

 .img2{
    width: 340px;
    height: 200px;
    border-radius: 10px;
 }
 .lowerpart{
    background-color: rgb(45, 42, 42);
    height: 150px;
    align-items: center;
    text-align: center;
    color: white;
 }
